{% extends "layout.html" %}

{% block content %}

  <h1>List Clients</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Id Type</th>
        <th scope="col">Id Numer</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark Otto</td>
        <td>CC</td>
        <td>784512</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob Thornton</td>
        <td>CE</td>
        <td>44455</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>John Doe</td>
        <td>PAS</td>
        <td>GG78787l</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}