{% extends "layout.html" %}

{% block content %}

  <h1>List Categories</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Alimentos</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ropa</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Calzado</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}